[Desktop Entry]
Encoding=UTF-8
Name=Link to home, house icon
Type=Link
URL=https://cdn4.iconfinder.com/data/icons/icon-flat-icon-set/50/home-256.png
Icon=image-png
