[Desktop Entry]
Encoding=UTF-8
Name=Link to Image result for house icon
Type=Link
URL=https://www.google.co.uk/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwiD6a3K1JLaAhVSKlAKHajCA2UQjRx6BAgAEAU&url=https%3A%2F%2Fthenounproject.com%2Fterm%2Fhouse%2F17050%2F&psig=AOvVaw240CkB2b9TZ-aHfQtvXGA_&ust=1522451657390072
Icon=text-html
